syntax: glob
*.{dyn_,}hi{,-boot}
*.{dyn_,}o{,-boot}
.*.sw[op]
./dist
*~
./.cabal-sandbox
./cabal.sandbox.config
.stack-work/
.stack-work-profile/
./ui
*.db-journal
test/current/*.hs
test/security/paper/*.hs
test/security/conference/Conference.hs
test/security/conference/ConferenceVerification.hs
test/security/conference/ConferenceRepair.hs
test/security/conference/Security.hs
test/difflib
*.log
*/npm-debug.log
*/os.path
*/platform
*/re
*/shutil
*/sys
*/time
*/results.csv
os.path
platform
sys
test/test.sq
debuglog*
examples.*
*.hp
*.prof
*.aux
*.ps
*.md
*.orig
experiments/*
*.pdf
micro
results
*.smt2
.ghci
stack.yaml.lock
logs/*